NEXT_PUBLIC_API_BASE_URL=http://localhost:8010
NEXT_PUBLIC_SITE_URL=http://localhost:3000
API_INTERNAL_URL=http://127.0.0.1:8010
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/la_villa_sb/
NEXT_PUBLIC_WHATSAPP_URL=https://api.whatsapp.com/send/?phone=573245710972&app_absent=0&utm_source=ig
