APP_ENV=local
SERVICE_NAME=notifications
SERVICE_PORT=9006
CATALOG_SERVICE_URL=http://localhost:9002
WHATSAPP_API_URL=https://graph.facebook.com/v21.0
WHATSAPP_PHONE_ID=
WHATSAPP_TOKEN=
WHATSAPP_RECIPIENT=+573245710972
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=+15715683120
TWILIO_TO=+573245710972
